  /* password reset page starts here */
  body {
    background: url("../images/reset-pass-bckgrnd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .password-reset-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .password-reset-page .password-reset-page-wrapper {
    background-color: rgba(16, 3, 85, 0.404);
    padding: 20px   500px;
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .password-reset-page .password-reset-page-wrapper form {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
flex-direction: column;
  }
  .password-reset-page .password-reset-page-wrapper .btn-login {
    background-color: rgb(221, 134, 151);
    color: white;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
  .password-reset-page .password-reset-page-wrapper h2 {
      text-align: center;
      padding: 10px;
      color: white;
  }
  .password-reset-page .password-reset-page-wrapper form input{
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .password-reset-page .password-reset-page-wrapper form input{
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: 5px;

  }

  .password-reset-page .password-reset-page-wrapper .btn-reset{
    padding: 10px 10px;
    border-radius: 5px;
    color: darkblue;
    margin: 0 auto;
  }